@import 'colors.scss';

$font-stack: 'Roboto', sans-serif;

body {
  margin: 0;
  padding: 0;
  font: 100% $font-stack;
  background-color: theme-color('background');
  color: theme-color('foreground', 'dark');
}
